.main-container{
    padding-top: 20px;
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg_c_bricks.png) repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}
.imgPhim{
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-black-transparent.png) repeat scroll 0 0 transparent;
}
.slick-dots{
    color: red;
    display:inline-block;
}
.home-movie-selection {
    margin: 20px 0;
    width: 100%;
}
.home-title {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg_h3_line.jpg) repeat-x scroll left center rgba(0, 0, 0, 0);
    height: 60px;
    text-align: center;
    width: 100%;
}  
.home-title-2 {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg_h3_line.jpg) repeat-x scroll left center rgba(0, 0, 0, 0);
    height: 60px;
    text-align: center;
    width: 100%;
} 
.home-movie-selection .home-title h2 {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/h3_movie_selection.gif) no-repeat scroll center center / 406px 41px #FDFCF0;
    display: inline-block;
    width: 425px;
}
.home-title-2 h2 {
    display: inline-block;
    width: 425px;
}
.owl-dots{
    display: block;
}
.ant-carousel .slick-dots {
    display: none !important;
}
ul {
    list-style: none !important;
}
.content-cgv-policy {
    width: 980px;
    margin: 0px auto;
}
.cgv-vietnam,.cgv-policy,.cgv-follow-us,.customer-cgv {
    float: left;
    width: 25%;
}
.content-cgv-policy h3 {
    color: #636363;
    font-size: 14px;
    font-weight: bold;
}
.content-cgv-policy a {
    color: #636363;
    font-size: 14px;
    line-height: 22px;
}
.footer-image{
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg-bottom-footer.jpg) repeat-x scroll center bottom rgba(0, 0, 0, 0);
    padding-top: 20px;
    padding-bottom:100px;
}
.footer-cgv-policy {
    width: 100%;
    padding: 20px 0px;
    border-bottom: 2px solid #222;
    border-top: 2px solid #222;
    overflow: hidden;
    display: block;
}
li .ant-space {
text-align: left;
}
ul {
    padding-left: 0 !important;
}
a:hover{
    outline: none;
    color: black !important;
    font-weight: bolder;
}
.ant-result-title{
padding-top: 60px;
}
.home-movie-selection{
    padding-top: 50px;
}
.ant-modal-footer{
    display: none !important;
}
.carousel-main{
    padding-left: 0%;
}
.carousel-main img{
    width: 700px !important;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: black !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.navbar-nav{
    padding-left: 25% !important;
}
.ant-btn {
    text-transform: uppercase;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    background: #fff;
    color: #54b4d3;
    border-color: #54b4d3;
}


.rowNumber{
    background: none;
    border:none;
    margin-bottom: 1%;
    font-size: 30px;
    color: yellow;
    
}
.firstChar{
    color: yellow;
    font-size: 35px;
    margin-right: 15px;

}

.screen{
    border-bottom: 50px solid rgb(255, 159, 95);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 100;
    width:100%;
    filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
    font-size: 25px;
    color: #fff;
}


.gheDuocChon {
    border: 3px solid orange;
    background: orange;
    color: #000;
    cursor: no-drop !important;
    border-radius: 5px;
    width: 45px;
    height: 35px;

}

.gheDangChon {
    background: rgb(109, 238, 109);
    border: 3px solid rgb(109, 238, 109);
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    width: 45px;
    height: 35px;
}
.ghe {
    background: rgb(192, 201, 192);
    border: 3px solid  rgb(192, 201, 192);
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    width: 45px;
    height: 35px;
}