html {
    scroll-behavior: smooth;
  }
.main-container{
    padding-top: 20px;
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg_c_bricks.png) repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}
.imgPhim{
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-black-transparent.png) repeat scroll 0 0 transparent;
}
.slick-dots{
    color: red;
    display:inline-block;
}
.home-movie-selection {
    margin: 20px 0;
    width: 100%;
}
.home-title {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg_h3_line.jpg) repeat-x scroll left center rgba(0, 0, 0, 0);
    height: 60px;
    text-align: center;
    width: 100%;
}  
.home-title-2 {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg_h3_line.jpg) repeat-x scroll left center rgba(0, 0, 0, 0);
    height: 60px;
    text-align: center;
    width: 100%;
} 
.home-movie-selection .home-title h2 {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/h3_movie_selection.gif) no-repeat scroll center center / 406px 41px #FDFCF0;
    display: inline-block;
    width: 425px;
}
.home-title-2 h2 {
    display: inline-block;
    width: 425px;
}
.owl-dots{
    display: block;
}
.ant-carousel .slick-dots {
    display: none !important;
}
ul {
    list-style: none !important;
}
.content-cgv-policy {
    width: 980px;
    margin: 0px auto;
}
.cgv-vietnam,.cgv-policy,.cgv-follow-us,.customer-cgv {
    float: left;
    width: 25%;
}
.content-cgv-policy h3 {
    color: #636363;
    font-size: 14px;
    font-weight: bold;
}
.content-cgv-policy a {
    color: #636363;
    font-size: 14px;
    line-height: 22px;
}
.footer-image{
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg-bottom-footer.jpg) repeat-x scroll center bottom rgba(0, 0, 0, 0);
    padding-top: 20px;
    padding-bottom:100px;
}
.footer-cgv-policy {
    width: 100%;
    padding: 20px 0px;
    border-bottom: 2px solid #222;
    border-top: 2px solid #222;
    overflow: hidden;
    display: block;
}
li .ant-space {
text-align: left;
}
ul {
    padding-left: 0 !important;
}
a:hover{
    outline: none;
    color: black !important;
    font-weight: bolder;
}
.ant-result-title{
padding-top: 60px;
}
.home-movie-selection{
    padding-top: 50px;
}
.ant-modal-footer{
    display: none !important;
}
.carousel-main{
    padding-left: 0%;
}
.carousel-main img{
    width: 700px !important;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: black !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.navbar-nav{
    padding-left: 25% !important;
}
.ant-btn {
    text-transform: uppercase;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    background: #fff;
    color: #54b4d3;
    border-color: #54b4d3;
}
.ghe {/*ghe thuong*/
    height: 39px;
    width: 39px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    color: #fff;
    background-color: rgb(123,122,122);
}
.gheDaDat{
    background-color: rgb(232, 76, 76) !important;
    cursor:no-drop;
}
.gheDangDat{
    background-color: rgb(123, 185, 123) !important;
}
.gheVip{
    background-color: rgb(255, 55, 0);
}
.gheDaDuocDat{
    background-color: rgb(246,246,246);
    box-shadow: -1px 2px 18px -6px;
    -webkit-box-shadow:-1px 2px 18px -6px #000000;
    color: orange !important;
    cursor:no-drop;
    border:1px solid orange
}
.trapezoid {
    border-bottom: 50px solid gray;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 100%;
    opacity: 0.4;
   filter: drop-shadow(0px 128px 63px rgba(8,8,8,0.38));
   -webkit-filter: drop-shadow(0px 128px 63px rgba(8,8,8,0.38));
   -moz-filter:drop-shadow(0px 128px 63px rgba(8,8,8,0.38)) ;
}

.circle-wrap {
    width: 150px;
    height: 150px;
    background:#86f348;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
  }
  
  .circle-wrap .circle .mask,
  .circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }
  
  .circle-wrap .inside-circle {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background:#040b0f;
    line-height: 120px;
    text-align: center;
    margin-top: 14px;
    margin-left: 14px;
    color: white;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
  }
  
  /* color animation */
  
  /* 3rd progress bar */
  .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #227ded;
  }
  
  .mask.full,
  .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(135deg);
  }
  
  @keyframes fill{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(135deg);
    }
  }
  